.text-green{
  color: green !important;
}
.bg-biscuit{
  background-color: #FFFEE1 !important;
}
.relative{
  position: relative !important;
}
.eye3{
  position: absolute !important;
  top: -27px !important;
  right: 15px !important;
  cursor: pointer !important;
}
input:focus {
  outline: none !important;
}

.google-login-container {
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.google-login-button {
  width: 100% !important;
  height: 50px !important;
}

.custom-google-login-button {
  width: 100% !important;
  height: 50px !important;
  background-color: rgb(244 242 237) !important;
  color: black !important;
  border: none !important;
  border-radius: 4px !important;
  font-size: 16px !important;
  cursor: pointer !important;
  display: flex !important;
  justify-content: center !important;
  gap: 10px !important;
  align-items: center !important;
}

.border-top{
  background: rgb(209 213 219) !important;
  width: 100% !important;
  height: 2px !important;
}
